[project]
	description = Test Repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeremyweber72
[access "refs/for/refs/*"]
	read = group user/jeremyweber72
	push = group user/jeremyweber72
	label-Code-Review = -2..+2 group user/jeremyweber72
	label-Verified = -1..+1 group user/jeremyweber72
	rebase = group user/jeremyweber72
	removeReviewer = group user/jeremyweber72
	submit = group user/jeremyweber72
[access "refs/heads/*"]
	read = group user/jeremyweber72
	create = group user/jeremyweber72
	push = +force group user/jeremyweber72
	pushMerge = group user/jeremyweber72
[access "refs/tags/*"]
	push = +force group user/jeremyweber72
	pushTag = group user/jeremyweber72
	pushSignedTag = group user/jeremyweber72
